<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style type="text/css">
        nav li{display:inline;}
    </style>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/article">Articles</a></li>

            </ul>
        </nav>
    </header>
</head>
<body>
<h2>Welcome to CS314 FlaskApp</h2>
<h3>This app is built on Flask WebFramework</h3>
</body>
</html>