<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/login.css" rel="stylesheet" media="screen">
    <title>Login</title>


<body>
    <div class="container">
        <h1>Please login</h1>
        <br>
    </div>
<form action="" method="post">
    <input type="text" name="username" value="{{request.form.username}}">
    <input type="text" name="password" value="{{request.form.password}}">
    <input type="submit" value="login">

</form>
{%if error%}
<p class="error"><strong>Error:</strong></p>{{error}}
{%endif%}
</head>
</body>
</html>